* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right top, #000418, #01072b);
}
.main{
    min-height:fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: rgb(251, 255, 255);
    font-family: nudista-web;
    margin-top: 3rem;
}

.box{
    min-height: fit-content;
    width: 60%;
    background: linear-gradient(
        to right bottom,
      rgba(102, 102, 104, 0.5),
      rgba(8, 19, 53, 0.3)
    );
    border-radius: 1rem;
    z-index: 1;
    backdrop-filter: blur(1rem);
    display: flex;
}



.score_home{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(
        to right bottom,
      rgba(31, 31, 32, 0.3),
      rgba(3, 13, 68, 0.2)
    );
    border-radius: 1rem;
}

h2{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}

.score_win{
    margin-top: 70px;
}
.score{
    min-height: 5rem;
    min-width: 5rem;
    background: linear-gradient(
        to left top,
      rgb(9, 8, 41),
      rgba(39, 37, 37, 0.2)
    );
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

#rules_btn{
    margin-top: 50px;
}

.game{
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.rock,
.paper,
.scissor{
    border-radius: 50%;
    border-width: 0.5rem;
    margin: 0 20px;
    border-color:rgb(4, 12, 22);
}

img{
    height: 5rem;
    width: 5rem;
    border-radius: inherit;
    border-color: inherit;
}
img:active{
    transform: scale(0.9);
}

.rules{
    flex: 3;
    margin-top: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first,
.second,
.third{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#exit{
    margin-top: 30px;
}
.game_panel{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    width: 300px;
    margin: 0 auto;
}
.game p{
    font-size: 12px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.displayChoice{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-weight: bold;
}
.displayChoice div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;    
}
.displayChoice div span{
    padding: 1rem;
}
.play{
    border-radius: 5px;
    box-shadow: 6px 6px 20px rgba(129, 128, 128, 0.6);
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
}

.winner{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.dis_score{
    margin: 30px;
    padding: 2px;
    background-color: aliceblue;
    border-radius: 5px;
    color: rgb(2, 2, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decision{
    font-weight: bold;
}

button{
    cursor: pointer;
}